#loginLogo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px 20px 0 0;
    width: 100%;
    background-color: rgb(176, 173, 173);
    padding: 3% 0;
}

#loginLogoTextContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}



#loginLogoText{
    display:flex;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-;
    color: antiquewhite;
    font-size: 40px;
    font-weight: bolder;
    text-shadow: 0px 0px 20px black;
}
